<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="profile">
        <br>
        <br>
        <input type="submit" placeholder="Done">
    </form>

    <div>
        <img src="../public/images/default.jpg" alt="asd">
    </div>
</body>
</html>